* {
	font-family: 'Roboto', sans-serif;
}

body {
	background: #eeeeee;
	font-family: tahoma, verdana, sans-serif;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

canvas {
	width: 100%;
	height: 100%;
	outline: none;
	border: none;
	background: #fafafa;
	margin: 0;
	padding: 0;
	position: fixed;
}

#eqSliders{
	width: 100%;
	height: 100%;
	position: fixed;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	color: white;
}
#eqSliders>section{
	width: calc(100% / 8);
	height: 30rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#eqSliders>section>*{
	transform: rotate(-90deg);
}
#eqSliders>section>label{
	width: 15vh;
	height: 15vh;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-top: 1rem;
}
#eqSliders>section>input{
	width: 35vh;
	height: 35vh;
}


#controls{
	width: 100%;
	position: fixed;
	bottom: 0;
	height: 5rem;
	background-color: rgba(0, 0, 0, 0.75);
	margin: 0;
	padding: 0;
	opacity: 1;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;

	color: white;

	transition: opacity 0.5s;
}
#controls[data-hidden="true"]{
	opacity: 0;
}

section#equalizer button, section#menu>button, section#controls button{
	color: white;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 2rem;
	height: 100%;
	width: 3rem;
	line-height: 100%;
	margin: 0;
	
	font-family: sans-serif;
}
#controls>section{
	height: 100%;
	line-height: 100%;
	margin: 0;
	padding: 0rem 1rem 0rem 1rem;
}
#controls>#volumeControls{
	margin-right: auto;
	display: flex;
	align-items: center;
}
#controls>#options{
	margin-left: auto;
}
#trackControls{
	z-index: 10;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#trackControls section{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
section#playback{
	height: 2rem;
	width: 50vw;
}
#trackControls input[type="range"]{
	width: 100%;
	margin-bottom: 0.25rem;
}

#trackControls select{
	width: 20rem;
	margin: 0;
	font-size: 1rem;
	padding: 0.25rem;
	border: white;
	color: white;
	background-color: #222;
}

#volumeIndicator[data-muted="true"]{
	color: #222;
}

#volumeLabel{
  margin-left: 1rem;
}

section{
  margin-bottom: 1rem;
}

#playButton{
  font-size: 1.2rem;
  width: 6rem;
}

#fsButton{
  font-size: 1.2rem;
  width: 8rem;
}

section#menu{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.75);
	opacity: 1;
	visibility: visible;
	color: white;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;

	overflow-y: auto;
	
	transition: opacity 0.5s, visibility 0.5s;
}
section#menu[data-hidden="true"]{
	opacity: 0;
	visibility: hidden;
}

#equalizer{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.75);
	opacity: 1;
	visibility: visible;

	transition: opacity 0.5s, visibility 0.5s;
}
#equalizer canvas{
	background-color: transparent;
	width: 100%;
	height: 100%;
}
#equalizer[data-hidden="true"]{
	opacity: 0;
	visibility: hidden;
}

#equalizer #equalizerButtons{
	position: fixed;
	right: 0;
	bottom: 0;
	margin-right: 1rem;
	height: 5rem;
	display: flex;
	flex-direction: row;
	padding: 0;
	margin: 0;
}

section#menu #closeMenuButton{
	position: fixed;
	right: 0;
	bottom: 0;
	margin-right: 1rem;
	height: 5rem;
}

section#menu section{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	font-size: 1.5rem;
	margin: 1rem;
	/* min-width: calc(25% - 2rem); */
	min-width: 10rem;
}
section#menu section button{
	font-size: 1.5rem;
	color: white;
	background-color: #222;
	border: none;
	outline: none;
	cursor: pointer;
}

section#menu ul{
	font-size: 1rem;
}

input[type="checkbox"]{
	width: 1.5rem;
	height: 1.5rem;
}